# MongoDB connection parameters
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=example

# Public base URL for the orchestrator application
PUBLIC_HOST=http://10.0.0.2
PUBLIC_PORT=3000

# Network interface and base IP address for physical connection
NETWORK_INTERFACE=eth0@if3 # the interface name from inside the orchestrator container (found with command 'ip a')
NETWORK_IP_BASE=10.0.0
