html {
    background-color: black;
    color: rgba(128, 255, 128, 0.8);
}

.error {
    /* Red glow. */
    color: rgba(210, 39, 48, 0.8);
    text-shadow:
        0 0 11px rgba(200, 51, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
}

.hidden {
    display: none;
}

.terminal {
    position: relative;
    box-sizing: border-box;
    background-color: #000000;
    background-image: radial-gradient(#11581E, #041607);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    color: rgba(108, 235, 108, 0.8);
    text-shadow:
        0 0 11px rgba(31, 235, 31, 1),
        0 0 2px rgba(255, 235, 235, 0.8);

    text-transform: uppercase;
    padding-left: 2%;
    padding-right: 2%;

    border-style: ridge;
    border-radius: 1%;
    border-width: 5px;
    border-color: #243627;
}

button.terminal {
    width: 100%;
}

button.terminal:hover {
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 11px rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);

    background-image: radial-gradient(#21784E,#041607);

    border-style: groove;
    border-radius: 1%;
    border-width: 5px;
}

.depressed {
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 11px rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);

    background-image: radial-gradient(#21784E,#041607);

    border-style: groove;
    border-radius: 1%;
    border-width: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
}

#header {
    display: flex;
    justify-content: space-around;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
}

#content *:nth-child(2) {
    flex-grow: 1;
}

button,input[type="submit"]:hover {
    cursor: pointer;
}

div {
    font-family: 'Inconsolata', Helvetica, sans-serif;
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 11px rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
}

@media (max-width: 1000px) {
    #content {
        flex-direction: column;
    }
}

